<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>Hello!!</div>
        <h:dataTable value="#{applicationController.list}" var="post">
            <h:column>
                <f:facet name="header">User</f:facet>
                #{post.user}
            </h:column>
            <h:column>
                <f:facet name="header">Title</f:facet>
                #{post.title}
            </h:column>
            <h:column>
                <f:facet name="header">Text</f:facet>
                #{post.text}
            </h:column>
        </h:dataTable>
        
        <h:form>
            <h:inputText value="#{formguest.user}"></h:inputText>
            <h:inputText value="#{formguest.title}"></h:inputText>
            <h:inputText value="#{formguest.text}"></h:inputText>
            <h:commandButton action="#{formguest.save}" value="Save"/>
        </h:form>
    </body>
</html>
