<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:panelGrid>
        <h:form>
            <h:commandLink action='faces/guestbook.xhtml'>Guestbook</h:commandLink><br/>
            <h:commandLink action='faces/about_me'>About me</h:commandLink><br/>
          
        </h:form>
        </h:panelGrid>
        <h:dataTable>
            
           
        </h:dataTable>
        
        <h:outputText value="#{applicationController.version}"/>
        
        Hello from Facelets
        <div>
            <h:outputText value="You are: "></h:outputText>
        <h:outputText value="#{sessionController.counter}"/>
        <h:outputText value=" visitor"></h:outputText>
        </div>
    </h:body>
</html>

